extends layout

block content
  h1= title
  p Welcome to #{title}

  input(type="file" webkitdirectory directory multiple)
  a(href="/lab2") Lab2
  br

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.13.1/lodash.js')
  script(src='/javascripts/main.js')
