body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.key {
  color: blue;
}

.test {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}

.test.fail {
  background: rgba(255,0,0,0.4);
}

.desc {
  text-decoration: underline;
}

.results-out p, .trace-out p {
  margin: 3px;
}

.stat {
  color: red;
  padding: 2px;
}

.results-out, .trace-out {
  margin-left: 25px;
  color: greenyellow;
  background: black;
  padding: 1px 10px;
  display: inline-block;
}
